/// section

@use '../abstracts/' as *;

// main component
.component {
  margin: 4.8em 2.4em 8.8em 2.4em; //todo update it
  text-align: center;

  //* component header section
  &__header {
    background: no-repeat url("../../images/pattern-circles.svg") center center;
    padding: 4.2em 0 3.6em 0;

    &__title {
    }

    &__text {
      padding: 0.7em 6em 0 6em;
      color: $color-grayish-blue;
    }
  }

  //* component body section
  &__body {
    margin: 2.4em 0 0 0;
    padding: 3.6em 0 0 0;
    background: rgb(214, 214, 214);
  }

  //* component topper section
  &__topper {
    // pageviews

    &__pageviews {
      color: $color-grayish-blue;
    }

    //* slider section
    &__slider {
      display: block;

      // slider
      &__input {
        display: block;
        width: 27.9em;
        margin: 0 auto;
      }

      // output price section
      &__output {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-dark-desaturated-blue;
      }

      // '/ month' section
      &__month {
        color: $color-grayish-blue;
      }
    }

    //* component toggle section
    &__toggle {
      // text parts ( monthly and yearly billing
      &__monthly {
      }

      &__yearly {
      }

      // toggle switch parts
      &__input {
      }

      &__switch {
      }

      // discount badge
      &__discount {
      }
    }
  }

  //* component footer section
  &__footer {
    // text and marker section
    &__text {
      &__item {
      }
    }

    // trial button
    &__button {
      &__item {
      }
    }
  }
}
