/// section

@use '../abstracts/' as *;

// main component
.component {
  margin: 4.8em 2.4em 8.8em 2.4em; //todo update it

  //* component header section
  &__header {
    text-align: center;

    background: no-repeat url("../../images/pattern-circles.svg") center center;
    padding: 4.2em 0 3.6em 0;

    &__title {
    }

    &__text {
      padding: 0.7em 6em 0 6em;
      color: $color-grayish-blue;
    }
  }

  //* component body section
  &__body {
    margin: 2.4em 0 0 0;
    background-color: $color-white;
    border: 1px solid black;
  }

  //* component topper section
  &__topper {
    text-align: center;
    padding: 3.6em 0 3.8em 0;
    border-bottom: 1px solid $color-light-grayish-blue;

    // pageviews
    &__pageviews {
      color: $color-grayish-blue;
    }

    //* slider section
    &__slider {
      display: block;

      // slider
      &__input {
        display: block;
        width: 27.9em;
        margin: 0 auto;
      }

      // output price section
      &__output {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3.25rem 0 3.8rem 0;
        color: $color-dark-desaturated-blue;
      }

      // '/ month' section
      &__month {
        color: $color-grayish-blue;
      }
    }

    //* component toggle section
    &__toggle {
      display: flex;
      justify-content: space-evenly;
      // text parts ( monthly and yearly billing )
      &__monthly,
      &__yearly {
        color: $color-grayish-blue;
      }

      // toggle switch parts
      &__input {
      }

      &__switch {
      }

      // discount badge
      &__discount {
      }
    }
  }

  //* component footer section
  &__footer {
    margin: 0 auto;
    padding: 2.8em 0 3.2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__item {
        padding: 0.6rem 0 0.6rem 1.1rem;

        &::marker {
          content: url("../../images/icon-check.svg");
        }

        &__text {
          color: $color-grayish-blue;
        }
      }
    }

    // start trial button
    &__button {
      margin: 2.8rem 0 0 0;
      padding: 1em 3.52em;
      border-radius: 2em;
      background-color: $color-dark-desaturated-blue;

      &__item {
        color: $color-light-grayish-blue;
      }
    }
  }
}
