/// section

@use '../abstracts/' as *;

// main component
.component {
  padding: 4.8em 24px 88px 24px; //todo update it
  text-align: center;

  //* component header section
  &__header {
    background: no-repeat url("../../images/pattern-circles.svg") center center;
    padding: 4.2em 0 3.6em 0;

    &__title {
    }

    &__text {
      padding: 0.7em 6em 0 6em;
      color: $color-grayish-blue;
    }
  }

  //* component body section
  &__body {
    //* slider section
    &__slider {
      // slider
      &__input {
      }

      // output price section
      &__output {
      }

      // '/ month' section
      &__month {
      }
    }

    //* component toggle section
    &__toggle {
      // text parts ( monthly and yearly billing
      &__monthly {
      }

      &__yearly {
      }

      // toggle switch parts
      &__input {
      }

      &__switch {
      }

      // discount badge
      &__discount {
      }
    }

    //* component footer section
    &__footer {
      // text and marker section
      &__text {
        &__item {
        }
      }

      // trial button
      &__button {
        &__item {
        }
      }
    }
  }
}
