/// typo

@use '../abstracts/' as *;

body {
  font-family: $font-family;
}

.component {
  // header
  &__header {
    &__text {
      font-size: 1.3em;
      line-height: 26px;
    }
  }

  // topper
  &__topper {
    &__pageviews {
      font-size: 1.3em;
      font-weight: map-get($font-weight, semi-bold);
      letter-spacing: 0.13em;
      text-transform: uppercase;
    }

    &__slider {
      &__output {
        font-size: 3rem;
        font-weight: map-get($font-weight, extra-bold);
        letter-spacing: 1.2px;
      }

      &__month {
        font-size: 1.3rem;
        font-weight: map-get($font-weight, semi-bold);
        letter-spacing: 0;
      }
    }

    &__toggle {
      &__monthly,
      &__yearly {
        font-size: 1.3rem;
        line-height: 20px;
      }
    }
  }

  // footer
  &__footer {
    font-size: 1.3em;
  }
}
